@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background-image: url("bg.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center center;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*justify-content: center;*/
	font-size: 2rem;
	color: white;
	/*background-repeat: no-repeat;*/
}

.countdown-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.big-text {
	font-size: 6rem;
	line-height: 1;
	margin: 0rem 2rem;
	font-weight: bold;
}

h1 {
	font-size: 5rem;
	font-weight: normal;
	margin-top: 5rem;
}

.countdown-el {
	text-align: center;
}

.countdown-el span {
	font-size: 1.7rem;
}

.miliseconds-c {
	overflow: hidden;
}

#quote {
	font-size: 2rem;
	margin-top: 5rem;
	text-align: center;
}

#credit {
	font-size: 1rem;
	font-weight: bold;
	justify-content: left;
}

/*.credit-d {
	position: absolute;
	bottom: 2px;
}
*/

.dob-in {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#data-to {
	padding: 0.5rem;
	font-size: 1.5rem;
	border-radius: 1rem;
	border-style: none;
	background: white;
	color: black;
}

#send-text {
	font-size: 1.5rem;
	padding: 0.5rem;
	margin: 1rem;
	background: white;
	border-style: none;
	border-radius: 1rem;
}

h1 {
	margin: 0px;
}

.heading {
	font-size: 4rem;
	margin: 0;
}
